# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
tfplan

# dbt artifacts
dbt/steam_tracker/dbt_packages/
dbt/steam_tracker/logs/
dbt/steam_tracker/target/
dbt/steam_tracker/package-lock.yml

# Python
__pycache__/
*.py[cod]
*.class
venv/
.env

# Klucze i poświadczenia (KRYTYCZNE)
*.json
secrets/
.aws/
.gcp/
*.zip

# Inne
.DS_Store
PLANNED_CHANGES.md

lambda/producer/layer/python/

# Personal inventory data -- generated locally, not for version control
scripts/inventory.csv
